body {
    background-color: #47484a
}
.tdAplicacion{
    background-color: white;
}

.tdAzul{
    background-color: #23ADDE
}

.tdNaraja{
    background-color: #EF9F27
}

.tdRojo{
    background-color: #CF0021
}

.tdVerde{
    background-color: #80BD28
}